.place__image {
  width: 43vw;
  height: 43vw;
  grid-area: image;
}

@media screen and (min-width: 1280px) {
  .place__image {
    width: 36vw;
    height: 36vw;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .place__image {
    width: 44vw;
    height: 44vw;
  }
}

@media screen and (max-width: 767px) {
  .place__image {
    width: 100vw;
    height: 100vw;
  }
}

