.place__image {
  width: 100%;
  /*width: 43vw;*/
  height: 42.97vw;
  grid-area: image;
}

@media screen and (min-width: 1280px) {
  .place__image {
    width: 460px;
    height: 460px;
  }
}

@media (min-width: 1070px) and (max-width: 1280px) {
  .place__image {
    width: 460px;
    height: 460px;
  }
}

@media (min-width: 1000px) and (max-width: 1023px) {
  .place__image {
    width: 440px;
    height: 440px;
  }
}

@media (min-width: 768px) and (max-width: 999px) {
  .place__image {
    /*width: 44vw;*/
    height: 44.272vw;
    width: 99.63%;
  }
}

@media screen and (max-width: 767px) {
  .place__image {
    /*width: 100vw;*/
    height: 100vw;
  }
}

