.lead__image {
  object-fit: inherit;
  max-width: 100%;
  margin: 0;
  padding-bottom: 8px;
}

@media screen and (min-width:1080px) {
  .lead__image {
    min-height: 615px;
    max-width: 984px;
  }
}

@media (min-width: 1024px) and (max-width: 1080px) {
  .lead__image {
    min-height: calc(.625*(100vw - 2*48px));
  }
}

@media (min-width: 928px) and (max-width: 1023px) {
  .lead__image {
    min-height: 605px;
    max-width: 928px;
  }
}

@media (min-width: 320px) and (max-width: 927px) {
  .lead__image {
    min-height: 62.5vw;

  }
}
@media screen and (max-width: 319px) {
  .lead__image {
    width: 100vw;
    min-height: 62.5vw;
  }
}
