@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);

.intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  grid-area: intro;
  padding: 0 286px 0 48px;
}

@media screen and (min-width: 1280px)
{
  .intro {
    padding: 0 442px 0 148px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .intro {
    padding: 0 24px 0;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding: 0 16px 0;
  }
}
