@import url(./__title/place__title.css);
@import url(./__website/place__website.css);
@import url(./__image/place__image.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__link/place__link.css);
@import url(./__paragraphs/place__paragraphs.css);
@import url(./__paragraph/place__paragraph.css);


.place {
  margin: 0;
  display: grid;
  max-width: 100%;
}

@media screen and (min-width: 1280px) {
  .place {
    grid-template-columns: 460px 1.052fr;
    grid-template-rows: repeat(2, auto);
    gap: 48px 40px;
    grid-template-areas:
    "title website "
    "image  paragraphs"
    ;
  }
}


@media (min-width: 1070px) and (max-width: 1279px) {
  .place {
    max-width: 984px ;
    grid-template-columns: 460px 1.052fr;
    grid-template-rows: repeat(2, auto);
    gap: 48px 32px;
    grid-template-areas:
    "title website "
    "image  paragraphs"
    ;
  }
}


@media (min-width: 1024px) and (max-width: 1069px) {
  .place {
    grid-template-columns: 42.96875vw 1.036fr;
    grid-template-rows: repeat(2, auto);
    gap: 48px 32px;
    grid-template-areas:
    "title website "
    "image  paragraphs"
    ;
  }
}

@media (min-width: 1000px) and (max-width: 1023px) {
  .place {
    max-width: 928px;
    grid-template-columns: 440px 1.036fr;
    grid-template-rows: repeat(2, auto);
    gap: 48px 28px;
    grid-template-areas:
    "title website "
    "image  paragraphs"
    ;

}
}
@media (min-width: 768px) and (max-width: 999px) {
  .place {
    grid-template-columns: 44.271vw 1.035fr;
    grid-template-rows: repeat(2, auto);
    gap: 48px 28px;
    grid-template-areas:
    "title website "
    "image  paragraphs"
    ;
  }
}

@media screen and (max-width: 767px)  {
  .place {
    grid-template-rows: repeat(3, auto);
    gap: 32px;
    grid-template-areas:
    "title"
    "image"
    "paragraphs"
    ;
  }
}
